:root {
    --monBleu: lightblue;
}

header {
    background: var(--monBleu);
}

main {
    background: var(--monBleu);
}

nav {
    background: var(--monBleu);
}

ul {
    background: yellow;
}

li {
    background: beige;
}

aside {
    background: mediumorchid;
}

main > div {
    background: maroon;
}

footer {
    background: gainsboro;
}

footer > div {
    background: wheat;
}